[submodule "themes/Eclectic"]
	path = themes/Eclectic
	url = https://github.com/hugoinaction/Eclectic
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/xmin"]
	path = themes/xmin
	url = https://github.com/yihui/hugo-xmin
